DISCORD_TOKEN=your_discord_bot_token_here
MAIN_GUILD_ID=your_main_guild_id_here
OWNER_ID=bot_owner_id_here # note: this is only used for testing purposes, you can leave it as is if you don't need it
MONGO_URI=mongodb://mongo:27017/beastcord
MONGO_PORT=27017
MONGO_DB_NAME=beastcord
TESTING=false